
body {
background-color: #51d0de;

}


h1 {

text-align: center;
color: #bf4aa8;

}

h2 {

color: #bf4aa8;

}

h3{
color: #bf4aa8;

}

.book-list {
    display: inline-block;
}
.para1 {

padding: 20px;




}

.para2 {

padding: 20px;

background-color: #d9d9d9;
width: 70%;
/* float: right; */

}

.header {

width: 30%;


}

.header2 {

width: 70%;

background-color: black;

}

