

body {
background-color: #ffffcc;


}


h1 {

text-align: center;
text-decoration: underline;
color: #660033;

}

h2 {

color: #99004c;

}

h2 {

color: #99004c;

}

}

h3 {

color: black;

}

.para1 {

padding: 20px;
border: black 2px solid;
background-color: #ffccff;
width: 30%>
float: left;

}

.para2 {

padding: 20px;
border: black 1px solid;
background-color: #e5ccff;
width: 70%>
float: right;

}

.header {

width: 30%>
float: left;

}

.header2 {

width: 70%>
float: right;
background-color: black;

}

